h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 150px;
    padding: 12px;
    border-right: 5px solid black;
    margin: 0;
    font-size: 24px;
    user-select: none;
    color: white;
    background-color: #082969;
}

.tier-section {
    display: flex;
    border: 5px solid black;
    min-height: 50px;
}

.tier-section:not(:first-of-type, :last-of-type){
    border-top: none;
}


.drop-zone {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color:  lightgrey;
}

.item {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 4px 8px;
}

#unranked-section{
    margin-top: 18px;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#gold{
    background-color: gold;
}

#lightblue {
    background-color: lightblue;
}

#orange {
    background-color: orange;
}

#black {
    background-color: black;
}

#pink {
    background-color: pink;
}

#purple {
    background-color: purple;
}