h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 150px;
    padding: 12px;
    border-right: 5px solid black;
    margin: 0;
    font-size: 24px;
    user-select: none;
    color: white;
    background-color: #082969;
}

.tier-section {
    display: flex;
    border: 5px solid black;
    min-height: 90px;
}

.tier-section:not(:first-of-type, :last-of-type){
    border-top: none;
}


.drop-zone {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color:  lightgrey;
}

.item {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 2px solid black;
    border-radius: 8px;
    margin: 4px 8px;
}

#unranked-section{
    margin-top: 18px;
}

#blue {
    background-image: url('images/bears.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#red {
    background-image: url('images/bengals.png');
    background-size: cover;
}

#green {
    background-color: green;
    background-image: url('images/bills.png');
    background-size: cover;
}

#gold{
    background-color: gold;
    background-image: url('images/broncos.png');
    background-size: cover;
}

#lightblue {
    background-color: lightblue;
    background-image: url('images/browns.png');
    background-size: cover;
}

#orange {
    background-color: orange;
    background-image: url('images/chargers.png');
    background-size: cover;
}

#black {
    background-color: black;
    background-image: url('images/colts.png');
    background-size: cover;
}

#pink {
    background-color: pink;
    background-image: url('images/giants.png');
    background-size: cover;
}

#purple {
    background-color: purple;
    background-image: url('images/texans.png');
    background-size: cover;
}